Source: glfwinfo
Section: unknown
Priority: optional
Maintainer: Dirk Stolle <striezel-dev@web.de>
Build-Depends: debhelper (>= 9), cmake, libgl-dev, libglfw3-dev
Standards-Version: 4.1.2
Homepage: https://gitlab.com/striezel/glfwinfo
Vcs-Git: https://gitlab.com/striezel/glfwinfo.git

Package: glfwinfo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Shows information about GLFW.
 glfwinfo shows information like the GLFW version that is in use, the OpenGL
 renderer and version, available monitors and their corresponding size, work
 area and video modes.
